/* Importing Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    background-image: url("images/hero-bg4.jpg");
    background-position: center;
    background-size: cover;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(17px);
    --webkit-backdrop-filter: blur(17px);
    border-right: 1px solid rgba(255, 255, 255, 0.7);
    transition: width 0.3s ease;
}

.sidebar:hover {
    width: 20%;
}

.sidebar .logo {
    color: #000;
    display: flex;
    align-items: center;
    padding: 25px 10px 15px;
}

.logo img {
    width: 43px;
    border-radius: 50%;
}

.logo h2 {
    font-size: 1.15rem;
    font-weight: 600;
    margin-left: 15px;
    display: none;
}

.sidebar:hover .logo h2 {
    display: block;
}

.sidebar .links {
    list-style: none;
    margin-top: 20px;
    overflow-y: auto;
    scrollbar-width: none;
    height: calc(100% - 140px);
}

.sidebar .links::-webkit-scrollbar {
    display: none;
}

.links li {
    display: flex;
    border-radius: 4px;
    align-items: center;
}

.links li:hover {
    cursor: pointer;
    background: #fff;
}

.links h4 {
    color: #222;
    font-weight: 500;
    display: none;
    margin-bottom: 10px;
}

.sidebar:hover .links h4 {
    display: block;
}

.links hr {
    margin: 10px 8px;
    border: 1px solid #4c4c4c;
}

.sidebar:hover .links hr {
    border-color: transparent;
}

.links li span {
    padding: 12px 10px;
}

.links li a {
    padding: 10px;
    color: #000;
    display: none;
    font-weight: 500;
    white-space: nowrap;
    text-decoration: none;
}

.sidebar:hover .links li a {
    display: block;
}

.links .logout-link {
    margin-top: 20px;
}
.text-wrapper{
    display:flex;
    justify-content:flex-start;
    background:#003049;
    overflow:hidden;
}
.text-wrapper{
    background: #0084ff;
    font-family:sans-serif;
    width:80%;
    margin: 0 auto;
    display:flex;
    align-items: center;
    background-image: linear-gradient(to left, #073763 , #ffffff);
    margin-right:0px;
    border-radius: 10px 0px 0px 10px;
}
.text-wrapper span{
    position:relative;
    display:inline-block;
    flex-shrink:0;
    padding: 8px 20px;
    background: #f00;
    color: #fff;
    clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%);
    font-weight:600;
}

button{
    top: 3px;
    margin-left: 11%;
    color: #fff;
    font-size: 13px;
    padding: 5px;
    align-items: center;
    position: absolute;
    background-image: linear-gradient(to left, #359dfe , #1ca803);
    border-radius: 10px 0px 0px 10px;
}

button a{
    text-decoration: none;
}
button:hover, button:hover a{
    color: #fff;
    text-decoration: dotted;
    font-weight: 700;
    background-image: linear-gradient(to left, black , black);
}
@media only screen and (max-width: 600px) {
    button{
        top: 30px;
        margin-left: 11%;
    }
  }

